$border-default: #42424242;
$background-default: #0d1117;
$background-darker: #131820;
$color-default: #c9d1d9;
$color-darker: #7d8799;
$tool-background: #333b4899;
$editor-padding-bottom: 200px;
$accent-color: #3391ff;


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background-darker;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333b48;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #536074;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background-default;
  color: $color-default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  color-scheme: dark;
}

#root {
  height: 100vh;
}

#wrapper {
  display: flex;
  height: 100%;
}


#sidebar {
  #sidebar-body {
    width: 250px;
    padding: 10px 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  height: 100%;
  flex-shrink: 0;
  p,h6 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  //background-color: rgb(250, 250, 250);
  position: sticky;
  top: 0;
  border-right: 1px solid $border-default;
  z-index: 2;
}


#home {
  padding:20px;
}


$bottom-bar-height: 15px;
#bottom-bar {
  background: $background-darker;
  color: $color-darker;
  font-size: 12px;
  padding: 0 5px;
  height: $bottom-bar-height;
  /* border-top: solid 1px $border-default; */
  display: flex;
  button {
    font-size: 12px;
  }
}

#folder-navigator {
  unicode-bidi: bidi-override; 
  direction: rtl;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#main {
  width: 100%;
  //background-color: rgb(250, 250, 250);
  overflow-x: hidden;
}

$editor-navigator-height: 44px;
#editor-navigator {
  background: $background-darker;
  border-bottom: solid 1px #999;
  height: $editor-navigator-height;
  display: flex;
  align-items: center;
  .tab {
    padding: 12.5px;
    &:nth-of-type(1) {
      border-bottom: solid 1px red;
    }

    &:hover {
      cursor: pointer;
    }
  }
  
}



#editor-wrapper {
  overflow: hidden;
  height: calc(100% - $bottom-bar-height - $editor-navigator-height); 
}

#editor-markdown-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
}



#editor-frontmatter-tab {
  display: none;
  padding: 20px;
  overflow-y: auto;
}

#editor-markdown-wrapper {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}


#editor-markdown {
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  flex: 0 0 50%;
  overflow-y: auto;

  &>.cm-editor {
  //do not set height: 100%;
  //onScroll will be broken
  //  height: 100%;
    padding-bottom: $editor-padding-bottom;
  }

  .ͼ1 .cm-content {
    padding: 10px 3px 10px 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

    .cm-line {
      padding: 0 5px 0 2px; 
    }
  }
}


#editor-markdown-toolbar {
  border-bottom: solid 1px $border-default;
  display: flex;
  padding: 10px;

  &>p {
    margin-right: 10px;
    padding: 2px 5px;
    background: #333b48;
    &:hover{
      cursor: pointer;
    }
  }
}

#editor-preview {
  height: 100%;
  flex: 0 0 50%;
  padding: 10px; //!padding top is used by scrollSync
  padding-bottom: $editor-padding-bottom;
  border-left: solid 1px #424242; //same as dark color-scheme scroll bar
  overflow-y: auto;
  overflow-x: hidden;
  * {
    overflow-x: auto;
  }
}


#explorer {
  padding: 20px;
  height: calc(100% - $bottom-bar-height);
  overflow: hidden auto;
  .df {
    border-top: solid 1px $border-default;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 17px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

//https://github.com/xtermjs/xterm.js/issues/3564#issuecomment-1059066813
.xterm .xterm-viewport {
  width: initial !important;
}

#terminal {
  z-index: 100; //greater than editor
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  #terminal-header {
    border-bottom: solid 1px #ddd;
    background: black;
    color: white;
    .terminal-tab {
      display: inline-block;
      padding: 0 10px;
      border: solid 1px #ddd;
      border-left: none;
    }
  }
}

#settings {
  padding: 20px;
}
#setting-site {
  padding: 20px;
  .setting-draggable{
    border-top: solid 1px #424242;
    padding: 10px 15px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
}


#sidebar-open {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  margin-right: -20px;
  span {
    display: block;
    background: black;
    width: 20px;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    svg {
      display: inline-block;
      color: white;
      height: 24px;
      width: 24px;
      fill: currentColor;
      margin-top: 8px;
      margin-left: -2px;
    }
  }
}
#sidebar-close {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  span {
    display: block;
    background: black;
    width: 20px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    svg {
      display: inline-block;
      color: white;
      height: 24px;
      width: 24px;
      fill: currentColor;
      margin-top: 8px;
      margin-left: -2px;
    }
  }
}


#setting-site-jseditor {
  width: 500px;;
  height: 300px;
  &>.cm-editor {
    height: 100%;
  }
}

.mui-icon {
  cursor: pointer;
}

.flex {
  display: flex;
}

.acenter {
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: col;
}

.block {
  display: block;
}

.siteName {
  border-top: solid 1px #424242;
  padding: 5px 20px;
  &:hover {
    cursor: pointer;
  }
}

.pinnedDir {
  position: relative;
  display: flex;
  align-items: center;  
  padding: 5px 5px 5px 0;
  //border-top: solid 1px #ddd;
  &:hover {
    cursor: pointer;
  }
}

.site-links {
  //border-bottom: solid 1px #ddd;
  .site-link {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 0;
    //border-top: solid 1px #ddd;
    &:hover {
      cursor:pointer;
    }
  }
}

.hpointer {
  &:hover {
    cursor:pointer;
  }
}

.dotdotdot {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}


.accent {
  color: $accent-color;
}


