* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  overflow: hidden;
}


#sidebar {
  #sidebar-body {
    width: 170px;
    padding: 5px;
  }
  height: 100vh;
  flex-shrink: 0;
  word-break: break-word;
  //background-color: rgb(250, 250, 250);
  position: sticky;
  top: 0;
  border-right: 1px solid #eee;
  z-index: 2;
}


#home {
  padding:20px;
}

$top-bar-height: 16px;
#top-bar {
  font-size: 13px;
  color: #666;
  white-space: nowrap;
  height: $top-bar-height;
}

#wrapper {
  display: flex;
  height: 100%; //=100vh
}
#main {
  width: 100%;
  //background-color: rgb(250, 250, 250);
}

$editor-navigator-height: 33px;
#editor-navigator {
  height: $editor-navigator-height;
  display: flex;
  .tab {
    font-size: 1em;
    color: #999;
    padding: 7px;
    &:hover {
      cursor: pointer;
    }
  }
  
}



#editor-wrapper {
  height: calc(100% - $top-bar-height - $editor-navigator-height); 
  & > div {
    height: 100%;
  }
}


#editor-frontmatter-tab {
  padding: 10px;
}


#editor-markdown {
  height: 100%;
  flex: 0 0 50%;
  overflow-y: auto;
}

#editor-preview {
  font-size: 14px; //TODO: same as codemirror
  height: 100%;
  flex: 0 0 50%;
  padding: 0 3px 0 12px;
  border-left: solid 1px #ddd;
  overflow-y: auto;
  overflow-x: hidden;
  * {
    overflow-x: auto;
  }
}


#explorer {
  height: 100%;
  overflow: hidden;
  #editor {
    height: 98%;
    display: flex;
    flex-direction: column;

    #switcher {
      margin-left: 25px;
        .tab {
          padding: 5px;
          border: solid 1px #eee;
          &:nth-of-type(2) {
            background-color: #89b8e640;
          }
          &:hover {
            cursor:pointer;
          }
        }
    }

    #frontmatter-tab {
      display: none;
      padding: 5px;
    }
    #editor-tab {
      flex-grow: 1;
    }


  }

  .df {
    border-top: solid 1px #ddd;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 17px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

//https://github.com/xtermjs/xterm.js/issues/3564#issuecomment-1059066813
.xterm .xterm-viewport {
  width: initial !important;
}

#terminal {
  z-index: 100; //greater than editor
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  #terminal-header {
    border-bottom: solid 1px #ddd;
    background: black;
    color: white;
    .terminal-tab {
      display: inline-block;
      padding: 0 10px;
      border: solid 1px #ddd;
      border-left: none;
    }
  }
}

#settings {
  padding: 20px;
}
#setting-site {
  padding: 20px;
  .setting-draggable{
    border-top: solid 1px #ddd;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }
}


#sidebar-open {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -20px;
  span {
    display: block;
    background: black;
    width: 20px;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    svg {
      display: inline-block;
      color: white;
      height: 24px;
      width: 24px;
      fill: currentColor;
      margin-top: 8px;
      margin-left: -2px;
    }
  }
}
#sidebar-close {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  span {
    display: block;
    background: black;
    width: 20px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    svg {
      display: inline-block;
      color: white;
      height: 24px;
      width: 24px;
      fill: currentColor;
      margin-top: 8px;
      margin-left: -2px;
    }
  }
}

.mui-icon {
  cursor: pointer;
}

.flex {
  display: flex;
}

.acenter {
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: col;
}

.block {
  display: block;
}

.siteName {
  border-top: solid 1px #ddd;
  padding: 5px 20px;
  &:hover {
    cursor: pointer;
  }
}

.pinnedDirs {
  //border-bottom: solid 1px #ddd;
  .pinnedDir {
    display: flex;
    align-items: center;  
    padding: 5px 5px 5px 0;
    //border-top: solid 1px #ddd;
    &:hover {
      cursor: pointer;
    }
  }
}
.site-links {
  //border-bottom: solid 1px #ddd;
  .site-link {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 0;
    //border-top: solid 1px #ddd;
    &:hover {
      cursor:pointer;
    }
  }
}

.hpointer {
  &:hover {
    cursor:pointer;
  }
}




