* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
}

#side {
  flex-shrink: 0; //because #side is a flex element
  width: 250px;
  height: 100vh;
  border: 1px black solid;
}

#main {
  width: 100%;
  max-width: 700px;
  background-color: rgb(214, 210, 210);
}

#editor {
  .cm-editor {
    min-height: 50vh;
    background-color: rgb(201, 201, 201);
  }
  width: 50%;
}

#previewer {
  width: 50%;
  overflow: auto;
}

.mui-icon {
  cursor: pointer;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: col;
}

.block {
  display: block;
}
